<h1>GAMES</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform(s)</th>
      <th>Developer(s)</th>
      <th>Publisher(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| -%>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.platforms.pluck(:name).join(", ") %></td>
      <td><%= game.developers.pluck(:name).join(", ") %></td>
      <td><%= game.publishers.pluck(:name).join(", ") %></td>
      <td><%= link_to "Show", game_path(game.id) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= link_to "New Game", new_game_path %>

<%= will_paginate @games %>